@{
	Layout = null;
	var layoutDetails = this.StrongViewBag.LayoutDetails ?? new LayoutDetails();
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>@layoutDetails.Title</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		@Styles.Render("~/css/bootstrap")
		@Styles.Render("~/css/fa")
		@Styles.Render("~/css/two")
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			@Scripts.Render("~/js/html5shiv")
			@Scripts.Render("~/js/respond")
		<![endif]-->
	</head>
	<body>
		<div id="p0_o" class="col-xs-12">
			<!--[if lt IE 7]>
				<p id="p0_n">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
			<![endif]-->

			<header class="row">
				<div class="col-xs-12">
					<h1><a href="/">Coderful Layouts</a></h1>
				</div>
				
				<div class="col-xs-12">
					@{ Html.RenderPartial(MVC.Layouts.Views.Components.Breadcrumbs, layoutDetails.Breadcrumbs); }
				</div>
			</header>

			<div class="row">
				<div class="col-sm-2">
					<div class="row">
						@{ Html.RenderPartial(MVC.Layouts.Views.Components.LeftMenu); }
					</div>
				</div>
				<div class="col-sm-10">
					<div class="row">
						@{ Html.RenderPartial(MVC.Layouts.Views.Components.Tabs, layoutDetails); }
					</div>
					<div class="row">
						<div class="col-xs-12" id="p0_m">
							@this.RenderBody()
						</div>
					</div>
				</div>
			</div>

			@{ Html.RenderPartial(MVC.Layouts.Views.Components.Footer); }
			@{ Html.RenderPartial(MVC.Layouts.Views.Components.Scripts); }

			@RenderSection("scripts", false)
		</div>
	</body>
</html>